body {
  background: white;
  font-family: 'Roboto', sans-serif;
  color: #754F44;
  height: 100%; 
  padding: 0; 
  margin: 0; 
}

.headings {
  font-family: 'Archivo Black', sans-serif;
  color: #754F44;
}

.navbar {
  background-color:  #E1CE7A;
  color: #EC7357;
  min-width: 100%;
  margin-left: -5px;
  margin-top: -15px;
 } 

div {
  background:  #FFFFFF;
  color: #EC7357;
}

ul {
  list-style: none;
  min-height: 50px;
}

a {
  text-decoration: none;
  color: #754F44;
}

li {
  background: #FBFFB9;
  display: inline-block;
  margin-left: 13%;
  margin-top: 9px;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #754F44;
}


/* home page css */
.home-page { 
  font-family: 'Roboto', sans-serif;
  height: 100%; 
  padding: 0; 
  margin: 0; 
}

.home-page-div { 
  z-index: 8;
  width: 50%; 
  height: 50%; 
  float: left; 
}

.link-label {
  position: relative;
  display: inline-block;
  padding: 0 3px;
  top: -140px;
  right: -400px;
  z-index: 20;
  font-family: 'Archivo Black', sans-serif;
  font-size: 1.5em;
  color: #754f44;
  background: #FBFFB9;
}

.link-description {
  position: relative;
  padding: 5px;
  display: block;
  width: 35%;
  top: -140px;
  right: -400px;
  z-index: 20;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #754f44;
  background: #FBFFB9;
}

.link-label-left {
  position: relative;
  display:inline-block;
  padding: 0 3px;
  top: -140px;
  left: 75px;
  z-index: 20;
  font-family: 'Archivo Black', sans-serif;
  font-size: 1.5em;
  color: #754f44;
  background: #FBFFB9;
}

.link-description-left {
  position: relative;
  display: block;
  padding: 5px;
  display: block;
  width: 45%;
  top: -140px;
  left: 75px;
  z-index: 20;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #754f44;
  background: #FBFFB9;
}

#div1 { 
  z-index: 5;
  background: #DDD; 
}

.home-page-div:hover {
  outline: 4px solid #EC7357;
  outline-offset: -4px;
}

#div1 a img {
  min-width: 100%;
  max-height: 100%;
}

#div2 { 
  z-index: 5;
  background: #111;
}

#div2 a img {
  min-width: 100%;
  max-height: 100%;
}

#div3 { 
  z-index: 5;
  background: #777; 
}

#div3 a img {
  min-width: 100%;
  max-height: 100%;
}

#div4 { 
  z-index: 5;
  /*background: #444; */
}

#div4 a img {
  min-width: 100%;
  max-height: 100%
}

.animation {
  color: black;
  z-index: 9;
  vertical-align: middle;
  justify-content: center;
  position: relative;
  top: -75%;
  left: 38%;
  position:;
  border-radius: 100%;
  box-shadow: 0px 0px 50px #FBFFB9;
  border: 2px solid #FBFFB9;
  width: 20em;
  height: 20em;
}

.animation-label {
  z-index: 1000;
  font-family: 'Archivo Black', sans-serif;
  font-size: 130px;
  color: rgba(251, 255, 185, 0.7);
  position: absolute;
  top: 19%;
  left: 38.5%;
}

.home-page-footer {
  position: absolute;
  top: 94%;
  left: 60%;
}

footer{
  color: #754F44;
  text-align: center;
  margin-top: 85%;
}

/***About page styling***/

.about {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Archivo Black', sans-serif;
  color: #754F44;
}

.about-text {
  text-align: left;
  margin: 5px;
  padding: 4px 10px;
}

/***Product List Page***/

article {
  display: inline-flex;
  border: 2px solid #754F44;
  width: 30%;
  margin: 10px 5px 0 25px;
  padding: 0;
}

article img {
  max-width: 100%;
  height: auto;
}

article ul {
  text-align: left;
}
